<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mana lapa</title>
</head>
<body>
    <h1>Esi sveicinats manaa lapaa</h1>
    <p>Flask test</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis totam iure voluptatem quia autem rerum tempore esse. Reprehenderit reiciendis illum, nostrum sint voluptas incidunt nam ratione magnam suscipit minus assumenda.</p>
</body>
</html>