<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mana lapa</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/about'>About</a></li>
                <li><a href='/Contact'>Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block saturs %}


        {% endblock %}
    </div>
</body>
</html>